.descList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;

  .desc {
    opacity: 0.75;
  }
}

@media screen and (max-width: 768px) {
  .descList {
    font-size: 1rem;
  }
}
