.list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;

  .item {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem #00000011;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:hover {
      .container {
        .banner {
          filter: blur(1rem);
        }
        .links {
          opacity: 1;
        }
      }

      .details {
        .tools {
          .icon:not(:first-child) {
            margin-left: -1rem;
          }
        }
      }
    }

    .container {
      position: relative;

      .banner {
        object-fit: cover;
        transition: 0.3s ease-in-out all;
        width: 100%;
        height: auto;
      }

      .links {
        position: absolute;
        opacity: 0;
        transition: 0.3s ease-in-out all;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: auto;
        z-index: 1;
        height: fit-content;
      }
    }

    .details {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 0 1rem;
      overflow: hidden;
      position: relative;
      height: 3.25rem;

      .name {
        font-size: 1.5rem;
        font-weight: 300;
        white-space: nowrap;
      }

      .tools {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        z-index: 1;
        left: 1rem;
        position: absolute;

        .icon {
          object-fit: contain;
          padding: 0.5rem;
          background: #fff;
          border: 2px solid #00000022;
          border-radius: 2rem;
          transition: 0.1s ease-in-out all;

          &:not(:first-child) {
            margin-left: -1.5rem;
          }
        }
      }
    }

    .desc {
      padding: 1rem;
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 1200px) {
  .list {
    .item {
      .details {
        .name {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: auto;
    width: 100%;

    .item {
      &:hover {
        .container {
          .banner {
            filter: unset;
          }
        }

        .details {
          .tools {
            .icon:not(:first-child) {
              margin-left: -1.5rem;
            }
          }
        }
      }

      .container {
        .links {
          position: unset;
          opacity: unset;
          justify-content: space-around;
        }
      }

      .banner {
        width: auto;
        height: 15rem;
      }

      .details {
        .name {
          font-size: 1rem;
        }
      }
    }
  }
}
