@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  background: var(--background);
  color: var(--text-primary);
  direction: rtl;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
