.skills {
  .list {
    direction: ltr;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;

    .row {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    width: calc(100% - 4rem);

    .list {
      gap: 3rem;
    }
  }
}
