.list {
  direction: ltr;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;

  .item {
    transition: 0.1s ease-in-out all;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 768px) {
  .list {
    gap: 3rem;
    padding-bottom: 2rem;
  }
}
