.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .item {
    display: flex;
    flex-direction: column;
    align-items: unset;
    background: unset;
    color: unset;
    gap: 0.5rem;

    &:hover {
      .titleBar {
        gap: 1rem;
      }
    }

    .titleBar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      opacity: 0.75;
      transition: 0.1s ease-in-out all;
    }

    .text {
      font-size: 1.5rem;
      direction: ltr;
    }
  }
}

@media screen and (max-width: 768px) {
  .list {
    gap: 3rem;
    padding-bottom: 2rem;
  }
}
